extends ../includes/template

block description
	meta(name="description" content="Клиентами компании «ИТ Гильдия» являются крупнейшие компании в сфере авиаперевозок, информационной безопасности …")

block title
	title Клиенты - ИТ Гильдия

block header
	header
		+header('/')

block content
	section.content
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Клиенты
			.row
				.col-xs-3.col-sm-3.col-md-3.col-lg-3
					p
						img.img-thumbnail(src="../img/sochi-autodrom.png", alt="Sochi Autodrom")
				.col-xs-9.col-sm-9.col-md-9.col-lg-9
					p Расположенный в Олимпийском парке, Сочи Автодром является самым современным комплексом для проведения международных соревнований по автоспорту в России. 10-12 октября 2014 года на трассе с успехом прошел первый в истории России этап Гран-при Формулы 1.

					p Сочи Автодром работает в круглогодичном режиме, и его современная инфраструктура позволяет соблюдать все необходимые требования безопасности при организации автомобильных соревнований.

					p Являясь неотъемлемой частью Олимпийского парка, Сочи Автодром помогает обратить внимание на особые черты этого величественного комплекса.
			br
			.row
				.col-xs-3.col-sm-3.col-md-3.col-lg-3
					p
						img.img-thumbnail(src="../img/kaspersky.png", alt="Kaspersky Lab")
				.col-xs-9.col-sm-9.col-md-9.col-lg-9
					p «Лаборатория Касперского» – одна из наиболее динамично развивающихся компаний в сфере информационной безопасности.

					p Компания была основана в 1997 году, и сегодня это международная группа, которая осуществляет свою деятельность более чем в 200 странах и территориях мира. «Лаборатория Касперского» имеет локальные представительства в 30 странах на 5 континентах. Среди ее корпоративных клиентов более 250 тысяч компаний по всему миру: от небольших предприятий до крупных государственных и коммерческих организаций. Продукты и технологии «Лаборатории Касперского» защищают более 300 миллионов пользователей во всем мире.
			br
			.row
				.col-xs-3.col-sm-3.col-md-3.col-lg-3
					p
						img.img-thumbnail(src="../img/rossiya-logo.png", alt="Авиакмпания Россия")
				.col-xs-9.col-sm-9.col-md-9.col-lg-9
					p Открытое акционерное общество "Авиакомпания "Россия" - одна из крупнейших авиакомпаний РФ и ведущий авиационный перевозчик в Северо-Западном регионе страны. Авиакомпания "Россия" базируется в Санкт-Петербурге и выполняет около 40% всех авиаперевозок из аэропорта "Пулково".

					p Компания ведёт свою историю с 1934 года. Являясь правопреемником авиапредприятия "Пулково", она сохранила богатые традиции петербургской авиации.

					p С 2011 года ОАО "Авиакомпания "Россия" входит в группу компаний "Аэрофлот", совокупный пассажиропоток которой по итогам года составил 20 млн. пассажиров, то есть около трети всех отечественных авиаперевозок. Основными собственниками компании являются ОАО "Аэрофлот" и Правительство Санкт-Петербурга.

			br
			.row
				.col-xs-3.col-sm-3.col-md-3.col-lg-3
					p
						img.img-thumbnail(src="../img/Astronis1.jpg", alt="Astronis")
				.col-xs-9.col-sm-9.col-md-9.col-lg-9
					p Комплексные решения по построению и модернизации корпоративных информационных систем, телекоммуникационные инфраструктуры, центры обработки и хранения данных, системы видеоконференцсвязи и контакт-центры, системы информационной безопасности, структурированные кабельные сети, инженерные системы. 
					
					p Консультирование, проектирование, поставка, внедрение, техническая поддержка и сопровождение сложных информационных, вычислительных, телекоммуникационных и инженерных систем

			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h2.text-center
						strong Благодарности
					
			.row
				.col-xs-6.col-sm-6.col-md-3.col-lg-3
					a.lightbox(title="Благодарственная грамота" href="../img/sochi-blank.jpg" target="_blank")
						img.img-thumbnail(alt="Благодарственная грамота" src="../img/sochi-blank.jpg")
				.col-xs-6.col-sm-6.col-md-3.col-lg-3
					a.lightbox(title="Благодарственная грамота" href="../img/kaspersky-blank.jpg" target="_blank")
						img.img-thumbnail(alt="Благодарственная грамота" src="../img/kaspersky-blank.jpg")
				.col-xs-6.col-sm-6.col-md-3.col-lg-3
					a.lightbox(title="Благодарственная грамота" href="../img/wincor.jpg" target="_blank")
						img.img-thumbnail(alt="Благодарственная грамота" src="../img/wincor.jpg")