section#abilities
    .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12     
            h2.first-header.text-center
                span Возможности 
                    strong ServiceNow
            p.sub-header.text-center В условиях непростой экономической обстановки, ИТ нуждается в простом и эффективном программном обеспечении. Именно поэтому клиенты других систем выбирают ServiceNow.

        .row
            .col-xs-12.col-sm-12.col-md-5.col-lg-5
                .video
                    +video('/img/video-back.png', 'http://www.youtube.com/embed/PxKRhPAsRjc?feature=player_detailpage')
            .col-xs-12.col-sm-12.col-md-7.col-lg-7
                +list(
                'Отсутствие вложений в инфраструктуру, предоставление сервиса из облака',
                'Подключение из любой точки мира с показателем доступности сервиса 99,9',
                'Конфигурация на лету, отсутствие требований дополнительной доработки',
                'Регулярный бесплатный апгрейд (выход новых версий 2-3раза в год), сохранение всех настроек после обновления',
                'Отсутствие дополнительных вложений в персонал, администрирование на стороне вендора',
                'Создание отчётов и аналитики на лету',
                'Прозрачная схема лицензирования',
                'Возможность работы с любого типа мобильного устройства через браузер без установки каких-либо приложений',
                'Графический редактор workflow',
                'CMDB с графическим отображением взаимосвязей конфигурационных единиц',
                'Мощный и гибкий портал самообслуживания пользователей',
                'Чат, доски обсуждений'
                )