mixin advantage(advant)
  .col-xs-4.col-sm-4.col-md-4.col-lg-4.advant-block
    p.header
      i(class='fa #{advant[0]}')
      | #{advant[1]}
    p #{advant[2]}

section#advantages
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12 
        h2.first-header.text-center
          span Преимущества 
            strong ServiceNow
    .row
      +advantage(['fa-certificate', 'Сертификация Pinkverify', 'Сертификат на соответствие ITIL и статус PinkVERIFY международной компании Pink Elephant.'])
      +advantage(['fa-user', 'Кастомизация без программирования', 'Широкий выбор графических редакторов workflow, настройка бизнес-правил через интерфейс системы, кастомизация щелчками мыши без программирования'])
      +advantage(['fa-search-plus', 'Масштабируемость решения', 'Гибкая интеграция процессов (ИТ, HR, Sales) в географически распределенной среде, масштабируемость в разрезе количества пользователей'])
    .row
      +advantage(['fa-plus-circle', 'Широкий охват процессов', 'Контроль всех процессов ITIL, включая управление инцидентами, запросами на обслуживание, каталогом услуг, уровнем оказания услуг'])
      +advantage(['fa-cloud', 'Удобство', 'Работа из облака, интуитивно-понятный интерфейс, ориентированный на пользователя, отсутствие толстого клиента'])
      +advantage(['fa-circle-o', 'Простота', 'Принцип «простого бизнеса», отсутствие необходимости покупать лицензии, арендовать сервер, тратить время на обучение'])
    .row
      +advantage(['fa-sitemap', 'Модульность', 'Гибкость в управлении проектами, возможность расширения базового набора системы за счет добавления модульных блоков, оплата только за то, что купили'])
      +advantage(['fa-sort-amount-asc', 'Снижение рисков внедрения', 'Проверенные технологии внедрения у крупных заказчиков, накопленный опыт'])
      +advantage(['fa-arrows-v', 'Низкое TCO, высокий ROI', 'Высокая эффективность инвестиций'])