extends ../includes/template

block description
	meta(name="description" content="«ИТ Гильдия» – официальный партнер компании Servicenow Ltd., мирового лидера среди поставщиков программного обеспечения для управления службой поддержки по версии IDC MarketScape.")

block title
	title О компании «ИТ Гильдия» - первом российском интеграторе SaaS-решения ServiceNow

block header
	header
		+header('/')

block content
	section.content
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong О компании

					p «ИТ Гильдия» – официальный партнер компании ServiceNow Ltd., мирового лидера среди поставщиков программного обеспечения для управления службой поддержки по версии IDC MarketScape. ServiceNow – SaaS (Software as a Service) система для управления ИТ инфраструктурой для среднего и крупного бизнеса.

					p «ИТ Гильдия» выполняет полный цикл работ по внедрению платформы ServiceNow – интеграцию, администрирование, техническое сопровождение. Готовое решение ServiceNow позволяет автоматизировать ITSM и другие сервисные процессы компании в финансовом, юридическом, кадровом секторах.

					p Опыт и профессионализм компании подтверждён партнерским статусом MSP (Managed Service Provider) и реализованными проектами в сегменте крупного бизнеса. Размещение платформы на современном оборудовании в сертифицированных дата-центра российских облачных провайдеров обеспечивают высокий уровень сервиса каждому клиенту.

					p Наша задача - автоматизация бизнес процессов компании и создание сервисной модели, которая помогает не тратить время на рутинные операции, а способствует росту и развитию бизнеса.
				