extends ../includes/template

block description
	meta(name="description" content="Внедрение услуги управления HR-процессами (HRSM) на базе ServiceNow позволяет усовершенствовать работу HR благодаря каталогу самообслуживания с функциями автоматизации процесса исполнения заявок.")

block title
	title «ИТ Гильдия» – Внедрение управления HR-процессами (HRSM) SaaS-решение ServiceNow

block header
	header
		+header('/')

block content
	section.content#hrsm
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Внедрение процесса по управлению HR
						br 
						|HR Service Management

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-8.col-sm-8.col-md-9.col-lg-9
					p Внедрение услуги управления HR-процессами (HRSM) на базе ServiceNow позволяет усовершенствовать работу HR благодаря каталогу самообслуживания с функциями автоматизации процесса исполнения заявок.
					p Управление HR - это удобное и надежное приложение, которое включает в себя портал для автоматизации деятельности кадровых специалистов с круглосуточным доступом.
					p Внедрение HRSM позволяет HR-специалистам управлять рабочими процессами своего подразделения без обращения в ИТ-отдел, вести учет запросов, автоматизировать рутинные тактические действия, отслеживать и предоставлять отчеты о своей работе, для оценки и анализа эффективности деятельности.

					p
						a(href="#feedback" class="button services") Узнать больше

					h3 Преимущества и результаты внедрения HRSM:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Увеличивает производительность
							p.collapse#collapseOne Помогает стандартизировать процесс обработки кадровых запросов с помощью портала самообслуживания для кадровых специалистов, что сокращает время отклика на заявки благодаря их автоматическому распределению соответствующим специалистам.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong Сокращает текущих расходов
							p.collapse#collapseTwo Круглосуточный доступ сотрудников компании к кадровому порталу самообслуживания, где доступна база знаний, сокращает количество запросов и снижает текущие затраты кадрового подразделения.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseThree")
									strong Повышает эффективность
							p.collapse#collapseThree Помогает оценить использование кадровых ресурсов и лучше понимать объем и тип запросов с целью определения возможностей для увеличения эффективности и улучшения уровня обслуживания.

					h3 Основные функции HRSM:

					ul
						li 
							strong Рабочее пространство для HR-специалистов – 
							|портал самообслуживания для кадровых специалистов с каталогом сервисов и базой знаний кадровой информации компании.
						li 
							strong Автоматическое распределение дел – 
							|быстрая передача дел ответственному специалисту на основании таких атрибутов, как категория дела или данные о заявителе.
						li 
							strong Упрощенный процесс создания и управления задачами – 
							|возможность создания промежуточных задач и использования рабочих процессов для автоматического создания и распределения новых задач.
						li 
							strong Средства управления безопасностью для защиты конфиденциальности – 
							|множество средств безопасности и функций фильтрации, таких как учетные записи, группы и роли пользователей.
						li 
							strong Механизм отчетности и пользовательские панели мониторинга – 
							|простой и гибкий механизм отчетности позволяет пользователю быстро сгенерировать и сохранить отчет прямо из списка записей.

	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form