extends ../includes/template

block description
	meta(name="description" content="Внедрение услуги управления активами (ITAM) на базе ServiceNow позволяет вести учет ИТ-активов (оборудование и программное обеспечение)")

block title
	title «ИТ Гильдия» – Внедрение управления активами (ITAM) SaaS-решение ServiceNow

block header
	header
		+header('/')

block content
	section.content#itam
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Управление Активами
						br 
						|Asset Management - ITAM

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-8.col-sm-8.col-md-9.col-lg-9
					p Внедрение услуги управления активами (ITAM) на базе ServiceNow позволяет вести учет ИТ-активов (оборудование и программное обеспечение), которые представляют собой важные задачи и возможности с точки зрения управления, затрат и рисков. Для того чтобы минимизировать риски и оптимизировать затраты, компании необходимо знать, какие активы находятся в ее распоряжении, где они находятся, кто и как их использует, как они построены, какова цена их приобретения и эксплуатации, и какую выгоду приносят.

					p
						a(href="#feedback" class="button services") Узнать больше

					h3 Преимущества и результаты внедрения ITAM:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Актуальная информация об ИТ-инфраструктуре
							p.collapse#collapseOne Ведение базы активов в ServiceNow ITAM дает возможность максимально эффективно использовать ресурсы компании, 					минимизировать задержки в оказании услуг и прогнозировать потребности заранее.
					
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong Интеграция с другими ИТ-сервисами
							p.collapse#collapseTwo Совместное использование программных решений управление активами и управление конфигурациями на одной платформе помогает 					преодолеть уже ставшие привычными трудности с интеграцией, упорядочиванием и сопоставлением данных.
					
						li 
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFour")
									strong Эффективность использования ресурсов
							p.collapse#collapseFour Оптимизирует жизненный цикл IT-активов и улучшает качество IT-сервисов. Помогает принимать правильные решения об 					использовании активов и новых вложениях.
					
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFive")
									strong Сокращение затрат
							p.collapse#collapseFive Помогает избежать неграмотного использования ресурсов путем обнаружения недоиспользованных активов. Автоматизирует 					процессы жизненного цикла активов во избежание многократного выполнения одних и тех же задач сотрудником и связанных с 					этим расходов.

					h3 Основными задачами внедрения ITAM являются:
					ul
						li ведение учета ИТ-активов;
						li контроль за лицензиями ПО;
						li управление жизненным циклом ИТ-активов;
						li управление закупками активов, работа с договорами и контрактами по активам;
						li соотношение стоимости владения ИТ-активов и доходов от ИТ-услуг.

	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form