extends ../includes/template

block description
	meta(name="description" content="Внедрение услуги ITFM обеспечивает необходимый уровень финансирования для проектирования, разработки и предоставления ИТ-услуг, позволяет сделать расходы на ИТ прозрачными.")

block title
	title «ИТ Гильдия» – Внедрение управления финансами в IT (ITFM) SaaS-решение ServiceNow

block header
	header
		+header('/')

block content
	section.content#itfm
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Управление финансами в ИТ
						br 
						|Financial management for IT services – ITFM

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-8.col-sm-8.col-md-9.col-lg-9
					p Управление финансами в ИТ играет важную роль для успешного управления ИТ услугами. Внедрение услуги управления финансами в IT компании обеспечивает необходимый уровень финансирования для проектирования, разработки и предоставления ИТ-услуг, позволяет сделать расходы на ИТ прозрачными для бизнеса, что важно для обеспечения оптимального баланса между затратами и качеством предоставляемых услуг.
					p Основная цель ITFM - предоставление оперативной финансовой информации для понимания общей картины затрат и доходов (по отдельным ИТ-услугам или подразделениям потребителям услуг), принятия решений о дальнейшем планировании и бюджетировании, минимизации затрат на ИТ.

					p
						a(href="#feedback" class="button services") Узнать больше

					h3 Преимущества и результаты внедрения ITFM:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Повышение эффективности затрат на ИТ
							p.collapse#collapseOne 
								|Для того чтобы подсчитать затраты на предоставление ИТ-услуги, необходимо собрать данные на разных уровнях. Детальная информация о стоимости элемента конфигурации и его компонентов, лицензии ПО, расходов на обслуживание и сопровождение, амортизацию позволяют вычислить и сделать отчет о точной стоимости услуги, продукта или системы с целью анализа эффективности их предоставления.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong Простое формирование бюджета
							p.collapse#collapseTwo 
								|В ITFM вносятся все расходы и заявки на покупку для каждого подразделения с целью формирования бюджета. Анализ бюджета за прошлые периоды совместно с бизнес-планами помогают определить новый бюджет на ИТ.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseThree")
									strong Прозрачная тарификация и учет услуг
							p.collapse#collapseThree 
								|Ведение учета финансовых затрат на предоставление ИТ-услуг, позволяет формировать обоснованные счета для потребителей, которые их используют.

					h3 Основные задачи управления финансами в ИТ:

					ul
						li Определение стоимости предоставления услуг;
						li Распределение затрат на ИТ по направлениям (конфигурационные единицы, рабочие задания, персонал и т.п.);
						li Управление спросом на ИТ-услуги за счет гибкого ценообразования;
						li Поиск эффективного компромисса между затратами на ИТ-услуги и получаемого дохода от этих услуг для бизнеса;
						li Планирование бюджета ИТ с учетом приоритетных направлений бизнеса;
						li Расчет совокупной стоимости владения (TCO) и окупаемости инвестиций (ROI).

	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form