extends ../includes/template

block description
	meta(name="description" content="Внедрение услуги управления ЦОД на базе ServiceNow позволяет целиком описать всю ИТ-инфраструктуру компании, дать понимание о взаимосвязи между отдельными ИТ-компонентами.")

block title
	title «ИТ Гильдия» – Внедрение управления ЦОД (ITOM) SaaS-решение ServiceNow

block header
	header
		+header('/')

block content
	section.content#itom
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Управление ЦОД
						br 
						|IT Operations Management - ITOM

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-8.col-sm-8.col-md-9.col-lg-9
					p Внедрение услуги управления ЦОД (IT Operations Management в составе Event Management, Service Mapping и Discovery) на базе ServiceNow позволяет целиком описать всю ИТ-инфраструктуру компании, дать понимание о взаимосвязи между отдельными ИТ-компонентами. Единая точка управления с панелями мониторинга в реальном времени и мощными инструментами диагностики позволяют заранее обнаружить, определить причину и решить возникающие проблемы, сократив до минимума время простоя бизнес-критичных услуг в случае возникновения аварии.

					p Сервисный портал ServiceWatch отображает зависимости между бизнес-услугами и ИТ-сервисам, как необходимо изменить производительность сервиса, чтобы улучшить качество предоставляемой услуги.

					p
						a(href="#feedback" class="button services") Узнать больше

					h3 Преимущества и результаты внедрения ITOM:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Уменьшение времени простоя
							p.collapse#collapseOne Раннее обнаружение проблем и их решение позволяют избежать дорогостоящих простоев в обслуживании.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong Интегрирование систем мониторинга
							p.collapse#collapseTwo Данные со всех систем мониторинга консолидируются в одном центре управления и дают представление о состоянии работы всей системы в реальном времени.
					
						li 
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFree")
									strong Безопасное внесение изменений
							p.collapse#collapseFree Возможность легко заранее оценить результат плановый изменений, чтобы их внесение не повлекло остановку обслуживания.
					
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFour")
									strong Гибкая система оповещений
							p.collapse#collapseFour Оповещения о событиях и авариях могут быть настроены для всех систем и сервисов ИТ-инфраструктуры из одной панели управления.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFive")
									strong Удобная карта размещения ИТ
							p.collapse#collapseFive Наличие удобной карты размещения всех объектов ИТ-инфраструктуры позволяет быстро определить причину возникновения аварии и оперативно ее решить.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseSix")
									strong Сравнение конфигураций
							p.collapse#collapseSix Возможность сравнить текущую конфигурацию работы ИТ-системы с проектируемой или рефернесной позволяет найти причину отклонения производительности от ожидаемой.

					h3 Основные функции ITOM:

					ul
						li создание актуального и точного описания ИТ-инфраструктуры с нанесением на карту всех конфигурационных единиц и отношений между ними, хранение записей в единой базе данных;
						li обнаружение и отображение взаимосвязей между ИТ-компонентами в рамках одной услуги в динамических и виртуализированных средах;
						li управление состоянием предоставляемых услуг и ИТ-систем с автоматическим оповещением о происходящих событиях, полученных сторонними средствами мониторинга;
						li автоматизация ИТ-процессов, конфигурирование бизнес-услуг, восстановление работы после сбоев;
						li определение, управление и измерение процессов предоставления облачных ресурсов и управление жизненным циклом этих ресурсов (интеграция с облачными провайдерами Amazon, Azure. VMware).

	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form