extends ../includes/template

block description
	meta(name="description" content="В рамках услуги внедрения ITSM «ИТ Гильдия» выстраивает отношения ИТ-подразделения с бизнесом как отношения поставщика услуг с потребителем услуг, основываясь на SLA")

block title
	title «ИТ Гильдия» – Внедрение управления ИТ-процессами (ITSM) SaaS-решение ServiceNow

block header
	header
		+header('/')

block content
	section.content#itsm
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Управление ИТ-процессами
						br 
						|IT Service Management – ITSM

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-5.col-sm-5.col-md-6.col-lg-6
					p Компания «ИТ Гильдия» предоставляет внедрение услуги управления ИТ-процессами (ITSM) на базе ServiceNow.
					p В рамках этой услуги «ИТ Гильдия» выстраивает отношения ИТ-подразделения с бизнесом как отношения поставщика услуг с потребителем услуг, основываясь на соглашении об уровне оказания услуг (SLA).
					p Системный и последовательный подход к организации предоставления услуг, как результат внедрения ITSM, позволяет повысить эффективность, снизить затраты, уделять больше времени развитию и модернизации, сделать систему ИТ понятной бизнесу.
					p
						a(href="#feedback" class="button services") Узнать больше

				.col-xs-3.col-sm-3col-md-3.col-lg-3
					img.img-thumbnail(src="../img/itsm.jpg" alt="Управление ИТ-процессами")

				.col-xs-8.col-sm-8.col-md-9.col-lg-9

					h3 Преимущества и результаты внедрения ITSM:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Эффективное управление всеми ИТ-процессами
							div.collapse#collapseOne 
								p Комплексный подход к оказанию услуг, устранению инцидентов, поддержке пользователей и 	изменению 	ИТ-инфраструктуры.
								p Контроль за процессом предоставления услуг и всей ИТ-инфраструктурой в целом.
								p Управление финансовой деятельностью ИТ-подразделения: закупками, бюджетом, стоимостью 	услуг.
								p Контроль за ИТ-активами компании для повышения эффективности их использования, 	модернизации и развития.
								p Портал самообслуживания, позволяющий пользователям самостоятельно решать многие задачи: 	создавать запросы 	на предоставление ИТ-услуг, отслеживать прогресс исполнения заявок, 	находить решения в базе знаний.
								p Создание отчетов на основе любой из метрик с четким предоставлением информации для 	руководства и 	заинтересованных лиц о прогрессе и результате работы ИТ. Информационные 	панели с данными об инцидентах и 	запросах в реальном времени. 
								p Эффективное управление процессами снижает затраты на материальные активы и человеческий 	ресурс, сокращая 	расходы ИТ-подразделения.
								p Сбор обратной связи от пользователя для улучшения качества обслуживания.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong ИТ работает на бизнес
							p.collapse#collapseTwo Внедрение ITSM позволяет выстроить партнерские отношения между ИТ и бизнесом. ИТ четко осознает поставленные бизнесом цели и реагирует на изменяющиеся потребности и ограничения. Бизнес видит не только стоимость ИТ, но и ценность, которую ИТ несет для поддержания и непрерывного развития бизнеса. Работа ИТ-подразделения становится прозрачной.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseThree")
									strong Управление услугами не только для ИТ
							p.collapse#collapseThree ИТ-услуги затрагивают все направления деятельности компании (производство, продажи, бухгалтерию, кадры, склад, хозяйство, маркетинг и другие), повышая эффективность управления ИТ мы помогаем всему бизнесу. А типовые ITSM практики: запросы пользователей, контроль активов, база знаний -  могут с успехом использоваться другими подразделениями. Разумно построенные процессы ITSM быстро и безболезненно ложатся на любое другое сервисное подразделение.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFour")
									strong Лучшие практики
							p.collapse#collapseFour ITSM подход основан на практиках библиотеки ITIL, которые успешно применяются во всем мире. Помимо этих практик в работе по внедрению ITSM мы используем богатый опыт ServiceNow (10 лет разработок по направлению ITSM и более 3300 клиентов по всему миру), предлагая заказчику готовое решение, удовлетворяющее всем требования бизнеса и ИТ, и дающее ощутимый результат.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFive")
									strong Быстрый старт
							p.collapse#collapseFive Внедрение ITSM поэтапный процесс, зависящий от готовности компании автоматизировать те или иные ИТ-процессы, однако, готовые практики ITIL и опыт ServiceNow позволяют развернуть систему в очень короткие сроки (от 1 месяца).

					p
						img(src="/img/service-now.png" title="ServiceNow" alt="ServiceNow")

					p ITSM решение ServiceNow объединяет в себе инструменты для создания идеальной службы поддержки и управления сервисами. 

					h3 Компоненты ITSM:

					ul
						li
							p
								strong Управление активами (Asset Management - ITAM)
							p это набор процессов для физического учета, финансового контроля, контрактных обязательств ИТ-активов (оборудование, программное обеспечение) на протяжении всего жизненного цикла.

						li
							p
								strong Управление инцидентами (Incident Management – IM)
							p это процесс, цель которого устранение возникающих инцидентов для восстановления предоставления ИТ-услуг, самым быстрым и эффективным способом.

						li
							p
								strong Управление изменениями (Change and Release Management)
							p это процесс управления изменениями и релизами для минимизации рисков при внесении изменений в ИТ-услугу.

						li
							p
								strong Управление проблемами (Problem Management)
							p это процесс управления расследованием корневой причины возникновения инцидента с целью предотвращения его повторения.

						li
							p
								strong Каталог услуг и управление запросами (Service Catalog)
							p позволяет потребителям услуг взаимодействовать с поставщиком и запрашивать сервисы, которые необходимы им в работе.

						li
							p
								strong Управление знаниями (Knowledge Management)
							p база знаний всей организации, где сотрудник может найти решение своей проблемы.

	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form