extends ../includes/template

block description
	meta(name="description" content="Компания «ИТ Гильдия» предлагает внедрение услуги управления портфелем проектов (Project Portfolio Management) на базе ServiceNow.")

block title
	title «ИТ Гильдия» – Внедрение управления портфелем проектов (PPM) SaaS-решение ServiceNow

block header
	header
		+header('/')

block content
	section.content#ppm
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Управление портфелем проекта
						br 
						|Project Portfolio Management

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-8.col-sm-8.col-md-9.col-lg-9
					p Внедрение услуги управления Управления портфелем проектов (Project Portfolio Management) на базе ServiceNow дает универсальный и гибкий подход к управлению проектами и ресурсами в рамках всего предприятия.
					p Приложение обеспечивает прозрачность действий и позволяет команде управления проектами избежать двойной работы, а также окажет поддержку в решении каждодневных вопросов.
					p Такие встроенные в PPM инструменты как чат, Live Feed, управление знаниями, позволяют каждому члену команды без проблем участвовать в выполнении задач и проектов, взаимодействовать с другими сотрудниками и действовать на достижение общей цели.

					p
						a(href="#feedback" class="button services") Узнать больше

					h3 Преимущества и результаты внедрения PPM:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Интерактивное распределение задач и ресурсов
							p.collapse#collapseOne Удобный графический интерфейс позволяет подробно изучать данные по заданиям, изменять сроки использования тех или иных ресурсов, сроить графики по задачам, этапам и доступности ресурсов с помощью простых манипуляций мышью, что делает управление проектами и портфелями проектов очень интуитивным и непосредственным.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong Легкая настройка панелей мониторинга
							p.collapse#collapseTwo Гибкий построитель отчетов помогает лучше понимать данные портфеля проекта, создавать пользовательские панели мониторинга, подробно изучать проектные данные по заданиям и ресурсам, а также обеспечить своевременную сдачу проектов, в рамках установленных требований и бюджета.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseThree")
									strong Интеграция, централизация, стандартизация
							p.collapse#collapseThree Проектные заявки можно принимать посредством различных интерфейсов, через портал самообслуживания, с помощью электронной почты и в любой форме, все они будут обработаны и приняты в работу.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFour")
									strong Удобная организация очередности работ
							p.collapse#collapseFour Использование сводной очередности работ делает более удобным и эффективным управление задачами в рамках проекта, и позволяет найти компромисс между важностью и срочностью задач для грамотной расстановки приоритетов.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFive")
									strong Автоматизации процессов управления проектами
							p.collapse#collapseFive Приложение дает возможность задавать уникальные бизнес-правила, соответствующие текущим бизнес-процессам, а также созвать совершенно новые способы автоматизации проектных заданий. Стандартные шаблоны проектов помогут увеличить эффективность, а автоматические оповещения, уведомления и одобрения позволят сократить время реагирования.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseSix")
									strong Отображение временных, трудовых и денежных затрат
							p.collapse#collapseSix Пользователи системы управления проектами могут воспользоваться точными и подробными обзорами данных по проектам, портфелям проектов и ресурсам, включая информацию по бюджетам, срокам и степени выполнения.
					
					h3 Основные функции PPM:

					ul
						li создание проекта в портфеле по запросу пользователя;
						li управление спросом на проекты, изменения и доработки, возможность пользователю отправлять запрос на оценку проекта и отслеживать его после согласования на протяжении всех этапов выполнения и до завершения работ;
						li совместная работа над проектом;
						li управление затратами в рамках работы над проектом;
						li планирование использования ресурсов;
						li установление соответствия стандартам качества.

	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form