extends ../includes/template

block description
	meta(name="description" content="Компания «ИТ Гильдия» предлагает внедрение услуги управления разработкой ПО (Agile Development SDLC ) на базе ServiceNow.")

block title
	title «ИТ Гильдия» – Внедрение управления разработкой ПО (SDLC) SaaS-решение ServiceNow

block header
	header
		+header('/')

block content
	section.content#sdlc
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Управление разработкой ПО
						br 
						|Agile Development SDLC

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-8.col-sm-8.col-md-9.col-lg-9
					p Компания «ИТ Гильдия» предлагает внедрение услуги управления  разработкой ПО (Agile Development SDLC ) на базе ServiceNow.
					p Быстрые методы разработки обладают многими преимуществами (гибкость, пошаговость, непрерывное развитие и изменение), но разрозненность мелких групп разработчиков, каждая из которых занимается своим проектом, не дает руководству общей картины прогресса разработки и результатов каждого этапа.
					p Внедрение Agile Development позволяет организовать централизованное управление разными методами разработки ПО, облегчить процесс совместной работы и контроля над всем жизненным циклом разработки от планирования до поддержки готовой системы.
					p Использование приложения, основанного на принципах единого рабочего пространства, совместного управления ресурсами и процессом разработки, обеспечивает прозрачность работы над проектом, высокую производительность труда и сокращение длительности каждого этапа.

					p
						a(href="#feedback" class="button services") Узнать больше

					h3 Преимущества и результаты внедрения SDLC:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Повышение производительности труда
							p.collapse#collapseOne Совместная работа коллективов разработчиков в режиме реального времени позволяет повысить эффективность каждого из них и повысить производительность труда.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong Ускорение процесса разработки ПО
							p.collapse#collapseTwo Благодаря комплексному подходу к работе и использованию комбинации методов разработки сокращается время разработки нового ПО.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFree")
									strong Организация коллективной работы
							p.collapse#collapseFree Организация единого рабочего пространства для всех групп разработчиков улучшает обмен информацией и их взаимодействие, позволяет эффективно распределять задачи, управлять изменениями.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFour")
									strong Улучшение контроля и эффективности разработки
							p.collapse#collapseFour Использование приложения SDLC обеспечивает прозрачность всего жизненного цикла разработки ПО (члены команды, рабочие обязанности, этапы разработки, результаты выполнения), а также осуществлять контроль процесс разработки.
					
					h3 Основные функции Agile Development SDLC:

					ul
						li Портал для создания и управления программными продуктами и релизами;
						li Отслеживание хода разработки с помощью диаграмм прогресса и сгорания задач, графиков;
						li Комбинация каскадного и Scrum методов разработки для гибкого управления проектом;
						li Возможность работать с несколькими проектами на одном спринте (этапе);
						li Возможность гибкого генерирования спринтов – выбор даты начала, продолжительности, нумерации и т.п.;
						li Возможность выполнения другого одноразового проекта в течение спринта.

	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form