extends ../includes/template

block description
	meta(name="description" content="Servicedesk, service desk, сервис деск, itil, управление технической поддержкой, тех.поддержка, управление ит-отделом, управление ит")

block title
	title «ИТ Гильдия» – Service Desk

block header
	header
		+header('/')

block content
	section.content#sd
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Внедрение службы Service Desk

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-8.col-sm-8.col-md-9.col-lg-9
					p Служба Service Desk (стол заказов) является буфером, организующим взаимодействие между пользователем и поставщиком ИТ-услуг. Она вписывается в концепцию сервисного подхода к ИТ библиотеки ITIL (раздела ITSM), основная цель которого заключается в выполнении требований заказчика услуг, а не простого обеспечения работы ИТ-инфраструктуры, что делает Helpdesk.

					h3 Особенности:

					ul
						li Service Desk – это точка контакта пользователя сервисов и ИТ (поставщика сервисов) в случае возникновения любых вопросов, связанных с их использованием.
						li Service Desk – служба, ориентированная на обработку различных сервисных событий, поступающих в форме обращений пользователей или сообщений систем мониторинга.
						li Service Desk нацелена на восстановление требуемого уровня предоставляемых услуг путем устранения инцидентов в соответствии с уровнем компетенции службы и организации восстановительных мероприятий.
						li Функции Service Desk могут включать в себя: выполнение запросов на обслуживание, предоставление информации, контроль текущего состояния предоставляемых услуг – все необходимое для того, чтобы пользователь был удовлетворен и мог дальше работать.

					br
					p Service Desk работает по модели предоставления услуги бизнесу: состав, список требований и уровень сервиса может быть описан в SLA (соглашение об уровне оказания услуг). С точки зрения потребителя, Service Desk представляет собой внешнюю компанию, которая оказывает ИТ-услуги по правилам, применимым к другим сервисным компаниям.
					p В свою очередь, процесс автоматизации службы поддержки является одним из самых важных шагов на пути снижения затрат на ИТ и повышения ее эффективности, который в процессе эксплуатации приносит значительные преимущества. 


					p
						a(href="#feedback" class="button services") Узнать больше

					h3 Преимущества и результаты внедрения Service Desk:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Широкий спектр применения
							p.collapse#collapseOne Service Desk может выполнять функцию общего центра обслуживания для приема и обработки запросов в хозяйственную, финансовую или юридическую службу организации.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong Быстрое решение запросов
							p.collapse#collapseTwo Автоматизированное решение ITSM для приема, обработки и распределения заявок от пользователей значительно ускоряет процесс решения запроса или инцидента. Дает больше времени сотрудникам первой линии для предоставления сервиса более высокого качества и позволяет осуществлять полный контроль за работой всех ИТ-специалистов.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseThree")
									strong Эффективная эскалация
							p.collapse#collapseThree Выстраивание процессов предоставления ИТ-сервисов гарантирует правильную эскалацию для решения запросов. Это позволяет осуществлять автоматическую доставку информации ИТ-сотруднику, ответственному за предоставление данного сервиса, сокращает время на диспетчеризацию и поиск данных, предотвращает ошибки.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFour")
									strong Портал самообслуживания
							p.collapse#collapseFour Предложите своим пользователям возможность решать многие свои проблемы на портале самообслуживания, находить на нем ответы на интересующие вопросы, создавать и отслеживать прогресс исполнения своих запросов, не тратя время на телефонные звонки и электронные письма.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFive")
									strong Контроль активов
							p.collapse#collapseFive Знания о нахождении и использовании ИТ-активов позволяют эффективно управлять ими, иметь полное представление о связях между оборудованием, информационными системами, программным обеспечением и вычислительными сетями для быстрого решения возникающих проблем и запросов.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseSix")
									strong Контроль в реальном времени
							p.collapse#collapseSix Создание интерактивных информационных панелей и развернутых отчетов на базе любого возможного параметра нажатием всего одной кнопки позволяет в режиме реального времени осуществлять мониторинг и быстро находить решение проблем. 

					br
					p Внедрение Service Desk, как неотъемлемой части системы управления ИТ-процессами (ITSM) на базе ServiceNow, помогает компании перейти на сервисную модель предоставления ИТ-услуг бизнесу, основываясь на соглашении об уровне оказания услуг (SLA).

					p Компания «ИТ Гильдия» обладает партнерским статусом MSP (Managed Service Provider), что позволяет ей предоставлять SaaS-решение ServiceNow для выполнения любых задач по автоматизации ИТ-процессов (ITSM) и других трекинговых процессов для средних и крупных компаний.

					p Платформа размещена в отечественном «облаке», которое находится в сертифицированном дата-центре уровня Tier III, что удовлетворяет любым требованиям российского законодательства. 


	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form