extends ../includes/template

block description
	meta(name="description" content="Портал самообслуживания ServiceNow предоставляет пользователям удобное средство для регистрации инцидентов и запросов на оказание услуги отслеживания прогресса их выполнения.")

block title
	title «ИТ Гильдия» – Построение корпоративного портала самообслуживания SaaS-решение ServiceNow

block header
	header
		+header('/')

block content
	section.content#sportal
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.first-header.text-center
						strong Корпоративный портал самообслуживания
						br 
						|Service Portal

			.row
				.col-xs-4.col-sm-4.col-md-3.col-lg-3
					+leftMenu()

				.col-xs-8.col-sm-8.col-md-9.col-lg-9
					p Портал самообслуживания ServiceNow предоставляет пользователям удобное средство для регистрации инцидентов и запросов на оказание услуги отслеживания прогресса их выполнения. Без помощи ИТ-специалистов сотрудник организации может решить многие проблемы, связанные с оказываемыми ему услугами, найдя решение в обширной базе знаний на портале.
					p Перечень предоставляемых услуг на портале разделен по категориям, что делает навигацию удобной, а предопределенные поля для заполнения по каждому сервису облегчают пользователю процесс создания запроса.
					p Внедрение портала самообслуживания предполагает его оптимизацию под конкретного заказчика: определение и описание наборов типовых запросов на оказание услуг, брендирование интерфейса и интеграцию с другими системами.

					p
						a(href="#feedback" class="button services") Узнать больше

					h3 Преимущества и результаты внедрения портала самообслуживания:

					ul
						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseOne")
									strong Централизованный портал для запросов
							p.collapse#collapseOne
								|Пользователю нет необходимости звонить или писать электронные письма, чтобы сообщить об инциденте, сформировать запрос на обслуживание или получить информацию об их статусе, достаточно заполнить необходимую форму на странице портала.

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseTwo")
									strong Контроль за выполнение запроса на любой стадии
							p.collapse#collapseTwo
								|Пользователь портала может отслеживать исполнение своих запросов в реальном времени на любом этапе, всегда быть в курсе, когда услуга будет предоставлена, проблема решена, кто ответственный и исполнитель. 

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseThree")
									strong Привычный интерфейс
							p.collapse#collapseThree
								|Интерфейс портала напоминает типичное интернет-приложение магазина, процесс заказа услуги, обращения в техподдержку, поиск помощи по базе знаний, отслеживание процесса исполнения напоминают привычные операции, которые пользователь делает при совершении онлайн покупки. 

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFour")
									strong Фирменный стиль
							p.collapse#collapseFour
								|Администратор портала может настроить его стиль и оформление согласно корпоративным стандартам, и это касается не только логотипа и цветовой гамы, но и наполнения страниц данными, структурой их представления. 

						li
							p
								a.collapse-link(data-toggle="collapse" href="#collapseFive")
									strong Повышение эффективности и снижение трудозатрат
							p.collapse#collapseFive
								|Использование портала самообслуживания позволяет экономить время специалистов поддержки, необходимое для регистрации и классификации заявок, получения информации о проблеме, а также время пользователей за счет ускоренной маршрутизации классифицированных через портал самообслуживания заявок.	
					
					h3 Основные функции портала самообслуживания:

					ul
						li создание инцидентов и запросов на обслуживание с использованием каталога услуг;
						li доступ к базе знаний для пользователей с возможностью оценки и комментирования;
						li контроль исполнения запросов и решения инцидентов;
						li новостная лента;
						li согласование запросов на обслуживание.				

	section#feedback
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12     
					h2.first-header.text-center
						span Узнайте больше
			.row
				include ../includes/feedback-form